__pycache__
.eggs
.venv
bin
build
docs
madmom
madmom.egg-info
pretrained_models
tests
tmp
.codespellrc
.flake8
.isort.cfg  
.travis.yml
.pre-commit-config.yaml
.pylintrc
CHANGES.rst
CONTRIBUTING.rst
environment.yml
LICENSE
MANIFEST.in
README.rst
pyproject.toml
setup.cfg
setup.py
tox.ini
*.wav
.github
.gitmodules
